h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
// .cat_list {
//   .entry-title {
//     margin-bottom: 10px;
//   }
// }
.entry-title {
  font-family: $blog-title;
  color: $post-title-color;
  font-weight: bold;
  line-height: 1.1;
  & a:hover {
    color: $post-title-hover;
  }
}

.entry-title {
  a {
    font-size: 2rem;
  }
}
.content-area {
  h1 {
    font-size: 3rem;
  }
  h2 {
    color: $post-title-color;
  }
}
